h1 {
    font-family: 'Abril Fatface',
    cursive;
    text-align: center;
}
.john {
    font-family: 'helvetica neue',
    helvetica,
    sans-serif;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 200, 43, 0.863);
    color: rgba(0, 0, 200, 0.6);
}


.tropical {
    font-family: 'Chonburi',
    cursive;
    font-size: 30px;

}
.red {
    font-family: 'PT Serif',
    serif;
    background-color: yellowgreen;
    font-family: 'Playfair Display',
    serif;
    font-size: 20px;
}
.purple {
    font-family: 'Playfair Display',
    serif;
    background-color: lightblue;
    font-size :20px; 
}
.pink {
    font-family: 'Playfair Display',
    serif;
    font-size: 20px;
    background-color: lightblue;
}
.orange {
    font-family: 'Playfair Display',
    serif;
    font-size: 20px;
    background-color:yellowgreen ;
}
.id {
    text-align: center;
    background-color: palegreen;
    font-size: 20px;
    font-family: font-family: 'PT Serif',
    serif;
}

